body {
  margin: 0px;
  background-color: #FEFBF6;
  
}

.cover {
  width: 96.25rem;
  height: 12.5rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  object-fit: cover;
  
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  margin-top: -0.625rem;
}
@media only screen and (max-width: 600px) {
  .cover {
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    
  }
}


.profile {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -150px;
}
@media only screen and (max-width: 600px) {
  .profile {
  
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: -4.5rem;
  }
}
hr.myhrline{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -1px;

}
@media only screen and (max-width: 600px) {
  hr.myhrline{
    

    width: 90%;
    margin: 0 auto;
    
    
  
  }
}


.paragraph {
  margin-left: 25rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 10px;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .paragraph {
    
    padding: 0 1em;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 1rem;
    font-size: smaller;
  }
}

.navvv{
  margin-right: 40px;
  margin-left: 40px;
  margin-top: -40px;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  .navvv{
    float: left;
    margin: 0 auto;
    min-height: 30px;
    font-size: 68%;
    font-weight: bold;
    
  }
}
.h11{
  margin-left: 25rem
}
@media only screen and (max-width: 600px) {
  .h11{
    margin: 0 auto;
    padding: 0 0.6em;
  }
}
.card_bord{
  font-size: large;
  font-weight: normal;
  color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
  .card_bord{
    font-size: smaller;
    font-weight: normal;
    color: aliceblue;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.cardd{
  width: 600px;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 50px;
}
@media only screen and (max-width: 600px) {
  .cardd{
    width: 50%;
    object-fit: cover;
    margin: 0 auto;
    padding-top: 0.05rem;
    margin-top: 0.5em;
  }
}



